body {
    margin: 0 auto;
    font-family: Arial;
}

.app {
    margin-top: 66px;
    background: #FEFCE8;
    height: calc(100vh - 66px);
}

button {
    background: rgb(209, 106, 169);    
    border: 0px;
    height: 50px;
    padding: 0px 26px;
    border-radius: 2px;    
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    color: rgb(255, 251, 231);
    font-weight: 600;
}

button:hover {
    background: #003B1B;
}

button a {
    color: rgb(255, 251, 231);
}